<div th:replace="shared/header">
    
</div>
                <!-- Begin Page Content -->
                <div class="container-fluid">

                    <!-- Page Heading -->
                    <h1 class="h3 mb-2 text-gray-800">Tables</h1>
                    <p class="mb-4">DataTables is a third party plugin that is used to generate the demo table below.
                        For more information about DataTables, please visit the <a target="_blank"
                            href="https://datatables.net">official DataTables documentation</a>.</p>

                    <!-- DataTales Example -->
                    <div class="card shadow mb-4">
                        <div class="card-header py-3" >
                            <a href="/usuario/novo" class="btn btn-primary" style="margin-right: 30px;">Novo</a>
                            <h6 class="m-0 font-weight-bold text-primary" style="display: inline-block;">Lista de Usuários</h6>
                        </div>
                        <div class="card-body">
                            <div class="table-responsive">
                                <table class="table table-bordered" id="dataTable" width="100%" cellspacing="0">
                                    <thead>
                                        <tr>
                                            <th>Name</th>
                                            <th>Email</th>
                                            <th>Senha</th>   
                                        </tr>
                                    </thead>
                                    <tfoot>
                                        <tr>
                                            <th>Name</th>
                                            <th>Email</th>
                                            <th>Senha</th>
                                            
                                        </tr>
                                    </tfoot>
                                    <tbody>
                                        <th:block th:each="user : ${usuarios}">
                                            <tr>
                                                <td th:text="${user.nome}">...</td>
                                                <td th:text="${user.email}">...</td>
                                                <td th:text="${user.senha}">...</td>
                                                
                                               
                                                <td><a th:href="@{/usuario/{id}(id=${user.id})}" class="btn btn-warning">Alterar</a></td>
                                                <td><a href="#" class="btn btn-danger" th:onclick="'window.location.href = \'' + @{/usuario/{id}(id=${user.id})} + '/excluir\' '"
                                                    >Excluir</a></td>
                                            </tr>
                                        </th:block>
                                       
                                    </tbody>
                                </table>
                            </div>
                        </div>
                    </div>

                </div>
                <!-- /.container-fluid -->

                <div th:replace="shared/footer"></div>