

<!-- Footer -->
<footer class="w-100 py-4 flex-shrink-0 ">
    <div class="container  py-4">
        <div class="row  gy-4 gx-5">
            <div class="col-4">
                <p class="small text-muted">
                    <img src="/img/logo.png" height="160px">
                </p>

            </div>
            <div class="col-4">
                <h5 class="footer-h5 mb-3">Mais informações</h5>
                <ul class="list-unstyled text-muted">
                    <li><a href="/">Home</a></li>
                    <li><a href="#">Sobre nós</a></li>
                    <li><a href="/contato">Contato</a></li>
                    <li><a href="/ong">Ongs</a></li>
                </ul>
            </div>
            <div class="col-4">
                <h5 class="footer-h5 mb-3">Políticas</h5>
                <ul class="list-unstyled text-muted">
                    <li><a href="/termos" target="_blank">Termos e Condições</a></li>
                    <li><a href="/politicas" target="_blank">Política de Privacidade</a></li>
                   
                </ul>
            </div>
           
        </div>
    </div>
    <div class="row justify-content-center">
        <p class="small mt-4 text-muted mb-0">&copy; Copyrights. Todos os direitos reservados. <a class="text-primary" href="#">DOA+</a></p>
    </div>
    
</footer>
<!-- End of Footer -->


<!-- Scroll to Top Button-->
<a class="scroll-to-top rounded" href="#topbar">
<i class="fas fa-angle-up"></i>
</a>



<!-- Bootstrap core JavaScript-->
<script src="/vendor/jquery/jquery.min.js"></script>
<script src="/vendor/bootstrap/js/bootstrap.bundle.min.js"></script>

<!-- Core plugin JavaScript-->
<script src="/vendor/jquery-easing/jquery.easing.min.js"></script>

<!-- Custom scripts for all pages-->
<script src="/js/sb-admin-2.min.js"></script>

<!-- Page level plugins -->
<script src="/vendor/chart.js/Chart.min.js"></script>

<!-- Page level custom scripts -->
<script src="/js/demo/chart-area-demo.js"></script>
<script src="/js/demo/chart-pie-demo.js"></script>

<!--Swepper carrousel -->
<script src="/swiper/swiper-bundle.min.js"></script>

</body>

</html>